.choresText {
   color: rgb(255, 0, 0);
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: rgb(46, 139, 36);
   text-decoration: underline;
   text-align: left
}
   
